.btn-section{
    /* width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; */
}

.btn{
    font-size: 1.1em;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn.contained{
    background: var(--sec-color);
    padding: 1.3em 3em;
    width: 100%;
    background: green;
    color: white;
    border-radius: 3em;
    max-width: 20%;
    min-width: 15em;
    transition: all 0.3s ease-in-out;
}

.btn.contained:hover{
    background: rgba(0, 128, 0, 0.9);
}

.btn.icon{
    padding: 0.5em;
    /* background: rgb(255, 246, 246); */
    border-radius: 0.3em;
}

.btn.small{
    background: var(--pri-color);
    padding: .8em 1em;
    width: fit-content;
    color: white;
    border-radius: 0.3em;
    max-width: 20%;
    min-width: 10em;
    transition: all 0.3s ease-in-out;
}

.btn.danger{
    background: var(--sec-color);
}
