.btn-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding: 1.3em 3em;
    width: 100%;
    max-width: 20%;
    min-width: 15em;
    font-size: 1.1em;
    background: green;
    color: white;
    border: none;
    outline: none;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn.contained{
    background: var(--sec-color);
    padding: 1em 2em;
}

.btn:hover{
    background: rgba(0, 128, 0, 0.9);
}