.label-yn{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: .6em;
    padding-bottom: .6em;
    margin-bottom: 1em;
}
.label-yn.inline{
    flex-direction: row;
    justify-content: space-between;
}
.label-yn-label{
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.label-yn-box,
.label-field-box{
    text-align: center;
    padding: 0.5em 1em;
    background: black;
    color: white;
}

.label-yn-btn{
    width: 20%;
    min-width: 8em;
    display: flex;
    gap: 1em;
}
.label-yn-btn .ynbtn{
    border:1px solid var(--pri-color);
    border-radius: 10px;
    padding: 1.3em 5em;
    background-color: white;
    text-align: center;
    cursor: pointer;
    color: var(--pri-color);
    transition: all 0.2s ease-in-out;
}

.label-yn-btn .ynbtn:hover{
    background: var(--pri-color-alpha);
}

.label-yn-btn .ynbtn.active{
    background: var(--pri-color);
    color: white;
}

.label-yn-btn .ynbtn.active:hover{
    background: var(--pri-color-active);
}

@media only screen and (min-width: 10px) {
    .label-yn-btn .ynbtn{
        padding: 0.5em 1em;
    }
}
@media only screen and (min-width: 768px) {
    .label-yn-btn .ynbtn{
        padding: 0.5em 1em;
    }
}
@media only screen and (min-width: 1200px) {
    
}
/* ========================================Error ============================================================= */

.error-container{
    padding: 0 1em;
}

.error-container span{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

/* ========================================Error ============================================================= */

/* ========================================Input============================================================= */

.input-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.input-div label{
    font-size: 1em;
}

.input-inner-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgba(210,210,210);
    border-radius: 0.5em;
}

.input-inner-div>input{
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1.1em;
    padding: 1em;
    outline: none;
}

.input-inner-div>input::placeholder{
    color: rgba(0,0,0,0.2);
    font-weight: lighter;
}

.icon{
    padding: 0.5em 0.8em;
    background: transparent;
    color: grey;
    font-size: 1.2em;
    cursor: pointer;
}
/* ========================================Input============================================================= */

/* ========================================Form Group============================================================= */

.form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em 0;
}

/* ========================================Form Group============================================================= */
/* ========================================Form Field============================================================= */

.form-field{
    flex-grow: 1;
}

@media only screen and (min-width: 100px) {
    .form-field{
        min-width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .form-field{
        min-width: 48%;
    }
}
@media only screen and (min-width: 1200px) {
    
}
@media only screen and (min-width: 1500px) {
    
}

/* ========================================Form Field============================================================= */
/* ========================================Dropdown============================================================= */

.dropdown-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.dropdown-inner-div{
    width: 100%;
    border: 1px solid rgba(210,210,210);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dropdown{
    width: 100%;
    padding: 1em;
    outline: none;
    font-size: 1em;
    border: none;
    color: grey;
    background: transparent;
}

/* ========================================Dropdown============================================================= */

/* ========================================file============================================================= */
.file-main-section{
    width: 100%;
}

.file-section{
    width: 100%;
    display: flex;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid rgba(210,210,210);
    position: relative; 
}

.file-name-display{
    position: absolute;
    inset: 0;
    top: 1em;
    left: 5%;

}

.file{
    width: 100%;
    padding: 1.1em;
    opacity: 0;
   
}

.file-section>button{
    min-width: 20%;
    border: none;
    z-index: 999;
}

.file-main-section{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* ========================================file============================================================= */

/* ===========================Chat Message================================================ */

.details-chat-section{
    width: 100%;
    background: white;
    /* padding: 2em 0; */
    /* border-radius: 0.5em; */
}

.details-chat-msg-div{
    width: 100%;
    height: 40em;
    padding: 2em;
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.details-chat-input-div{
    display: flex;
    width: 100%;
}

.reciever-div-section{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.reciever-div{
    padding: 1em;
    background: #7a6af0;
    color: white;
    border-radius: 0.3em;
    max-width: 80%;
    width: 100%;
}

.sender-div-section{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sender-div{
    padding: 1em;
    background: #e1defd;
    color: black;
    border-radius: 0.3em;
    max-width: 90%;
}

@media only screen and (min-width: 10px){

}
@media only screen and (min-width: 768px){
    
}
@media only screen and (min-width: 1200px){
    
}
@media only screen and (min-width: 1400px){
    
}
/* ===========================Chat Message================================================ */

/* ================================chat input========================================= */

.chatinput-inner-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* border: 1px solid rgba(210,210,210); */
    box-shadow: 0 0 2em 0.1em rgba(0,0,0,0.05);
    /* border-radius: 0.5em; */
}

.chatinput-inner-div>input{
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1.1em;
    padding: 1em;
    outline: none;
}

.chatinput-inner-div>input::placeholder{
    color: rgba(0,0,0,0.2);
    font-weight: lighter;
}

.chatinput-inner-div button{
    padding: 0.5em 0.5em !important;
    font-size: 1.5em !important;
}