.label-yn{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: .6em;
    padding-bottom: .6em;
    margin-bottom: 1em;
}
.label-yn.inline{
    flex-direction: row;
    justify-content: space-between;
}
.label-yn-label{
    width: 100%;
    flex-grow: 1;
    position: relative;
}

.label-yn-box,
.label-field-box{
    text-align: center;
    padding: 0.5em 1em;
    background: black;
    color: white;
}

.label-yn-btn{
    width: 20%;
    min-width: 8em;
    display: flex;
    gap: 1em;
}
.label-yn-btn .ynbtn{
    border:1px solid var(--pri-color);
    border-radius: 10px;
    padding: 1.3em 5em;
    background-color: white;
    text-align: center;
    cursor: pointer;
    color: var(--pri-color);
    transition: all 0.2s ease-in-out;
}

.label-yn-btn .ynbtn:hover{
    background: var(--pri-color-alpha);
}

.label-yn-btn .ynbtn.active{
    background: var(--pri-color);
    color: white;
}

.label-yn-btn .ynbtn.active:hover{
    background: var(--pri-color-active);
}

@media only screen and (min-width: 10px) {
    .label-yn-btn .ynbtn{
        padding: 0.5em 1em;
    }
}
@media only screen and (min-width: 768px) {
    .label-yn-btn .ynbtn{
        padding: 0.5em 1em;
    }
}
@media only screen and (min-width: 1200px) {
    
}
/* ========================================Error ============================================================= */

.error-container{
    padding: 0 1em;
}

.error-container span{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}

/* ========================================Error ============================================================= */

/* ========================================Input============================================================= */

.input-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.input-div label{
    font-size: 1em;
}

.input-inner-div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 1px solid rgba(210,210,210);
    border-radius: 0.5em;
}

.input-inner-div>input{
    width: 100%;
    border: none;
    background: transparent;
    font-size: 1.1em;
    padding: 1em;
    outline: none;
}

.input-inner-div>input::placeholder{
    color: rgba(0,0,0,0.2);
    font-weight: lighter;
}

.icon{
    padding: 0.5em 0.8em;
    background: transparent;
    color: grey;
    font-size: 1.2em;
    cursor: pointer;
}
/* ========================================Input============================================================= */

/* ========================================Form Group============================================================= */

.form-group{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/* ========================================Form Group============================================================= */
/* ========================================Form Field============================================================= */

.form-field{
    flex-grow: 1;
}

@media only screen and (min-width: 100px) {
    .form-field{
        min-width: 100%;
    }
}
@media only screen and (min-width: 768px) {
    .form-field{
        min-width: 15em;
    }
}
@media only screen and (min-width: 1200px) {
    .form-field{
        min-width: 19em;
    }
}
@media only screen and (min-width: 1500px) {
    .form-field{
        min-width: 24em;
    }
}

/* ========================================Form Field============================================================= */
/* ========================================Dropdown============================================================= */

.dropdown-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.dropdown-inner-div{
    width: 100%;
    border: 1px solid rgba(210,210,210);
    border-radius: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.dropdown{
    width: 100%;
    padding: 1em;
    outline: none;
    font-size: 1.1em;
    border: none;
    color: grey;
    background: transparent;
}

/* ========================================Dropdown============================================================= */


.file-section{
    width: 100%;
    display: flex;
    border-radius: 0.5em;
    overflow: hidden;
    border: 1px solid rgba(210,210,210);
    
}

.file{
    width: 100%;
    padding: 1.3em;
    font-size: 1;
   
}

.file-section>button{
    min-width: 20%;
    border: none;
}

.file-main-section{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}