.layout-header{
    background: white;
    padding: 8px 1.5em;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}
.layout-header-logo{
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.layout-header-logo img{
    max-width: 100%;
    max-height: 100%;
}

.layout-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-inner-section{
    width: 80%;
}

/* ================================================================ */

.layout-header-content{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.layout-right-header ul{
    list-style: none;
    display: flex;
    gap: 2em;
}

.layout-right-header ul li a{
    font-size: 1.5em;
    color: rgb(48, 48, 48);
    transition: all 0.3s ease-in-out;
}

.layout-right-header ul li a:hover{
    color: var(--sec-color);
}
