.layout-header{
    background-color: rgb(230, 238, 255);
    padding: 8px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}
.layout-header-logo{
    max-height: 60px;
    max-width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.layout-header-logo img{
    max-width: 100%;
    max-height: 100%;
}

.layout-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-inner-section{
    width: 80%;
}