

.array-div{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1em;
}

.array-div .btn.icon{
    background: rgb(236, 236, 236);
    padding: 1em;
    color: rgb(126, 126, 126);
}
.array-div .btn.icon:hover{
    background: rgb(255, 243, 243);
    padding: 1em;
    color: red;
}