<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>

    <style>
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
    <div  style="
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100px;
            padding: 1em;
            background: #2d87ca;

        ">
        <div style="text-align: center;">
            <img src="data:image/png;base64,   iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==   " />

            <img src='../../assets/images/logo.png' alt="logo" style="width: 150px;"/>
          </div>
    </div>


    <div style="
        padding: 5em 0;
    ">

    </div>


    <div style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1em;
        background: rgb(243, 243, 243);
    ">
        <p>&copy; 2024 Edutax. All rights reserved.</p>
    </div>
</body>
</html>